html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $background;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.link {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
}

