html,
body {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $accent;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 16px;
}

img {
    width: 100%;
}

.link {
    color: $primary;
    text-decoration: none;
    cursor: pointer;
}

.box-shadow {
    box-shadow: 2px 2px 5px rgb(121, 121, 121);
}

.hidden {
    display: none;
}

.primary {
    color: $primary;
}
